// using Modernizer CSS classes to detect if browser supports the W3C Touch Events API
:host-context(.mod-touchevents) [md-button]:hover::after, [md-icon-button]:hover::after {
    content: none;
}

#my-page-card {
  min-height: 100%;
}


.more {
  position: absolute;
  /* margin: 0px; */
  /* top: 0px; */
  margin-top: 2px;
  /* word-break: break-word; */
  background: rgba(0, 0, 0, 0.7);
  height: 50px;
  width: 50px;
  padding-left: 0px;
  padding-top: 2px;
  padding-top: 2px;
  text-align: center;
}

.list-img {
  height: 50px;
  margin-top: 2px;
  cursor: pointer;
}

.float-left {
  float: left;
  margin-right: 5px;
  color: #ffffff;
}

.float-left a:hover {
  color: red;
  cursor: pointer;
}
